
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles*/

.display-flex{
  display: flex;
}
.text-primary{
  color:#FF900E;
}
.text-grey
{
  color:#424242;
}

.text-light-grey
{
  color:#727272;

}
.bg-light
{
  background-color: rgba(255, 144, 14, 0.1);
}

/* header styles*/

/*navbar related styles*/
.navbar
{

justify-content: space-between;
align-items: center;

}
.btn-primary
{
background-color:#FF900E ;
color:white;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: semi-bold;
border-radius: 8px;
}

main{

  max-width: 1440px;
  margin:0 auto;
}
main>section{
  margin-top: 130px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.brand
{
  font-weight: 700;
  font-size: 3rem;

}

.nav-items
{
  list-style: none;
  margin-right: 30px;
 
}

.nav-links
{
  text-decoration: none;
  font-weight: 500px;
  margin: 0 auto;
  display: flex;
}
/*banner relater styles*/
.banner-content
{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;


}
.banner-title{
  font-weight:700 ;
  font-size: 4rem;

}
.banner-image
{
  width:100%;
}
/*team and features elated styles*/

.teams
{
  align-items:center;
}

.team-image-container
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:none;
}
.our-features
{
  margin-left: 130px;
  max-width: 530px;
}


.feature-title{
  font-size: 2.8rem;
}
#quick-list{
  font-weight: 500px;
  font-weight: 700;
}
/*some facts related styles*/
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);

}

.fact-card{
  border:1px solid orange;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
}
.fact-name{
  font-size:20px;
  font-weight:600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
.facts-container,.sponsor-companies{
  justify-items: center;
  gap: 24px;
}
.sponsor-companies{
  justify-items: center;
  gap:50px
}

/*responsive media query*/ 
@media screen and (max-width:576px){
  
.navbar,.nav-links,.teams{
  flex-direction: column;
}

.team-image-container,.facts-container,.sponsor-companies{
  grid-template-columns: repeat(1,1fr);
}
.our-features{
  margin-left: 30px;
}
  
}
/*medium size device*/
@media screen and (min-width:576px) and(max-width:992px)
{
.teams{
  flex-direction: column;
}
.our-features{
  margin: 50px;
}
} 

/*sponsors related styles*/
.sponsor-info
{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat5,1fr);

  
}
sponsor-companies img{
  filter:grayscale(100%);
}